.Rproj.user
.Rhistory
.RData
.Ruserdata

/plots/HU_vs_Well_Density_1990_2010.html
/figures/data/spatial/
/figures/DR_RW_v_NHU.pptx
/data/geopackage/
/data/rasters/County_HU_Densities_1990/
/data/rasters/County_HU_Densities/2000/
/data/rasters/County_Well_Densities_1990/
/data/rasters/progress/
/data/shapefiles/